<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <receiver android:name="expo.modules.relaynotifications.UnifiedPushReceiver" android:exported="true">
      <intent-filter>
        <action android:name="org.unifiedpush.android.connector.NEW_ENDPOINT" />
        <action android:name="org.unifiedpush.android.connector.MESSAGE" />
        <action android:name="org.unifiedpush.android.connector.UNREGISTERED" />
        <action android:name="org.unifiedpush.android.connector.REGISTRATION_FAILED" />
        <action android:name="org.unifiedpush.android.connector.TEMP_UNAVAILABLE" />
      </intent-filter>
    </receiver>
    <receiver android:name="expo.modules.relaynotifications.NotificationDecisionReceiver" android:exported="false" />
    <service android:name="expo.modules.relaynotifications.NotificationRaiseService" android:exported="true">
      <intent-filter><action android:name="org.unifiedpush.android.connector.RAISE_TO_FOREGROUND" /></intent-filter>
    </service>
  </application>
</manifest>
